@media all and (max-width:1024px){
    .image{
        display:none;
    }
    .text{
        display:none;
    }
    .main img{
        width:100%;
        height: initial;
    }
    .imgg{
        width:100%;
    }
    .description{font-size:2em;
    }
    

}